extends ../layout.pug
include ../mixin/title.pug
include ../mixin/modal.pug

block head
    link(rel="stylesheet" href="/stylesheets/auth/cambiar-password.css")

block content
    +SectionTitle('CAMBIAR CONTRASEÑA')

    form(id="formChangePassword" action="/auth/cambiarPassword" method="POST")

        label(for="newPassword") Nueva contraseña
        input(
            type="password"
            name="newPassword"
            id="newPassword"
            placeholder="Ingrese la nueva contraseña"
            required
        )

        label(for="confirmNewPassword") Repetir contraseña
        input(
            type="password"
            name="confirmNewPassword"
            id="confirmNewPassword"
            placeholder="Repita la contraseña"
            required
        )

        button(type="submit") Actualizar contraseña

    if modalMessage
        +Modal('modalChangePassword', modalTitle, modalMessage, modalType)
