extends ../layout

block contenido
  h2.text-center.mb-4 Lista de Tareas

  .text-center.mb-3
    a.btn.btn-primary(href='/tareas/nueva') Crear Nueva Tarea

  if mensajeError
    .alert.alert-danger(role="alert")= mensajeError

  if tareas.length
    .table-responsive
      table.table.table-striped.table-bordered.mx-auto(style='width: 100%; table-layout: fixed;')
        thead(class='table-dark')
            th Tarea
            th Área
            th Estado
            th Fecha Inicio
            th Fecha Fin
            th Prioridad
            th Empleado
            th Paciente
            th Proveedor
            th Observaciones
            th Acciones
        tbody
          each t in tareas
            tr
              td(title=t.titulo).text-truncate= t.titulo
              td(title=t.area).text-truncate= t.area
              td(title=t.estado).text-truncate= t.estado
              td(title=t.fechaInicio).text-truncate= t.fechaInicio
              td(title=t.fechaFin).text-truncate= t.fechaFin
              td(title=t.prioridad).text-truncate= t.prioridad
              td(title=t.empleado).text-truncate= t.empleado
              td(title=t.paciente)
                if t.paciente
                  = t.paciente
                else
                  span.d-block.text-center - 
              td(title=t.proveedor)
                if t.proveedor
                  = t.proveedor
                else
                  span.d-block.text-center - 
              td(title=t.observaciones).text-truncate= t.observaciones
              td
                .d-flex.flex-column.align-items-center
                  a.btn.btn-sm.btn-warning.mb-1.w-100(href=`/tareas/editar/${t.id}`) Modificar
                  form(method="POST", action=`/tareas/eliminar/${t.id}?_method=DELETE`, class="w-100")
                    button.btn.btn-sm.btn-danger.w-100(type="submit") Eliminar
  else
    p.text-center No hay tareas registradas.
