extends ../layout

block contenido
  h2.text-center.mb-4 Lista de Empleados

  if mensajeError
    .alert.alert-danger(role="alert")= mensajeError

  .text-center.mb-3
    a.btn.btn-primary(href='/empleados/nuevo') Agregar Empleado Nuevo

  if empleados.length
    .table-responsive
      table.table.table-striped.table-bordered.text-nowrap
        thead(class='table-dark')
          tr
            th ID
            th Nombre
            th(style="min-width: 140px") Documento
            th Rol
            th(style="min-width: 160px") Área
            th Acciones
        tbody
          each empleado in empleados
            tr
              td= empleado.id
              td= empleado.nombre
              td= empleado.dni
              td= empleado.rol
              td= empleado.area
              td
                a.btn.btn-sm.btn-warning.me-1(href=`/empleados/editar/${empleado.id}`) Modificar
                form(method="POST", action=`/empleados/eliminar/${empleado.id}?_method=DELETE`, style="display:inline")
                  button.btn.btn-sm.btn-danger(type="submit") Eliminar
  else
    p.text-center No hay empleados registrados.
